.catalogue {
  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-color;
    display: inline-block;
    padding: 2rem 0 0 0;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    font-size: .9em;
    color: $default-tint;
  }

  &-title {
    color: $default-shade;
    display: block;
    font-family: $secondary-font;
    font-weight: $secondary-weight;
    font-size: 1.75rem;
    font-style: normal;
    margin: .4rem 0 .2rem 0;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-shade;
    display: block;
    width: 2rem;
  }
}

.catalogue a {
  font-family: $secondary-font;
  font-weight: $secondary-medium;
  font-style: italic;
  opacity: .9;
}
.catalogue a:hover {
  color: $red !important;
}
.catalogue p {
  margin-left: .25em;
}
br {
    margin-top: .25rem;
}
