<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  {{ partial "head.html" . }}

  <body>
		<nav class="nav">
			<div class="nav-container">
			<a href="{{ .Site.BaseURL }}/">
				<h2 class="nav-title">{{ .Site.Title }}</h2>
			</a>
			<ul>
				<li><a href="{{ .Site.BaseURL }}about"><i class="fas fa-info"></i></a></li>
			</ul>
			</div>
		</nav>
