<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">

  {{ partial "head.html" . }}

  <body>
		<nav class="nav">
			<div class="nav-container">
			<a href="{{ .Site.BaseURL }}">
			  <h2 class="nav-title"><span style='color:#aaa;font-weight:400'>{</span><span style='color:#000'>data sc</span><span style='color:#aaa;font-weight:400'>r</span><span style='color:#000'>i</span><span style='color:#aaa;font-weight:400tf'>bers}</span></h2>
			</a>
			<ul>
				<li><a href="{{ .Site.BaseURL }}about"><i class="fas fa-info-circle"></i></a></li>
			</ul>
			</div>
		</nav>
