<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{- if eq .URL "/" }}
			<meta name="description" content="{{ .Site.Params.Description }}">
		{{- else if .Description }}
			<meta name="description" content="{{ .Description }}">
		{{- end }}

		<title>
			{data-scribers}
		</title>

		<!-- CSS -->

		{{- $inServerMode	:= .Site.IsServer }}
		{{- $cssTarget		:= "css/style.css" }}
		{{- $cssOptions		:= cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
		{{- $style			:= resources.Get "scss/tale.scss" | toCSS $cssOptions }}
  	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Roboto:500i,900" rel="stylesheet">

		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}images/favicon-16x16.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL}}images/apple-touch-icon.png">

		<!-- RSS -->
		<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	</head>
